#time{
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
}

#user{
  font-style: italic;
  text-align: center;
  font-family: sans-serif;
}

#parsecom{
  font-style: italic;
  text-align: center;
  font-family: sans-serif;
}

#edit{
  text-align: center;
  font-family: sans-serif;

}




