#time{
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
}

#user{
  font-size: 14px;
  text-align: center;
  font-family: sans-serif;
}

#parsecom{
  font-size: 14px;
  font-style: italic;
  text-align: center;
  font-family: sans-serif;
}

#edit{
  font-size: 14px;
  text-align: center;
  font-family: sans-serif;

}

.container-g > div, .container-y > div, .container-o > div, .container-r > div {
  padding: 12px 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-right: 18px;
  border-radius: 5px;
}
.container-g > div {
  background-color: #b3e7dc;
}
.container-y > div {
  background-color: #fff0c2;
}
.container-o > div {
  background-color: #ffd3bd;
}
.container-r > div {
  background-color: #f5c2c2;
}





